$icons: (
    sprite: (width: 350px, height: 313px, svgPath: '../images/sprite.svg'),
   arrow: (width: 40px, height: 25px, backgroundX: 0px, backgroundY: 0px),
   ico-preview: (width: 31px, height: 21px, backgroundX: -50px, backgroundY: -35px),
   ico-web: (width: 87px, height: 75px, backgroundX: -91px, backgroundY: -66px),
   iconfinder: (width: 26px, height: 26px, backgroundX: -188px, backgroundY: -151px),
   klau: (width: 80px, height: 80px, backgroundX: -224px, backgroundY: -187px),
   linkedin: (width: 26px, height: 26px, backgroundX: -314px, backgroundY: -277px),
);
