/* /////////////////////////////////
	VARIABLES
///////////////////////////////// */

/* text & link colors */

$font-size: 26px;
$line-height: 30px;
$font-size-height: #{$font-size}/#{$line-height};

$font-stack: Din, tahoma, verdana, sans-serif;
$font-stack-alt: Lobster, times, serif;

$heading-color: #666;
$text-color: #333;
$text-color-dark: #333;
$text-color-light: #999999;

$accent-color: #94cde0;

$link-color: #5dcfd9;
$link-color-hover: darken(#5dcfd9, 10%);
$link-color-active: #222;

$invert-color: #fff;

/* background colors */

$bg-color: #ffffff;
$bg-light: #f4f4f4;
$bg-dark: #222;

/* borders */

$border: solid 1px #f3f3f3;
