.iconfinder {
  content: '';
  margin: 37px 0 0 15px;
  vertical-align: middle;
  @include sprite('iconfinder');
}

.linkedin {
  content: '';
  margin: 37px 0;
  margin-left: 20px;
  vertical-align: middle;
  @include sprite('linkedin');
}

.logo {
  content: '';
  vertical-align: middle;
  @include sprite('klau');
}