/* /////////////////////////////////
	BASIC TEXT
///////////////////////////////// */

/* demo font-face mixin

@include font-face(Gotham, gotham-book-webfont, $weight: normal, $style: normal);
@include font-face(Gotham, gotham-bold-webfont, $weight: bold, $style: normal);
@include font-face(Baskerville, baskerville-bolditalic-webfont, $weight: bold, $style: italic);

*/

@include font-face(Lobster, Lobster-webfont, $weight: normal, $style: normal);
@include font-face(Din, din-regular-webfont, $weight: normal, $style: normal);
@include font-face(Din, din-bold-webfont, $weight: bold, $style: normal);

h1 {
	font: normal 44px/44px $font-stack-alt;
	margin: 0 0 20px;
	//color: $heading-color;
}

h2 {
	color: $heading-color;
	font: normal 39px/42px $font-stack-alt;
	margin: 0 0 40px 0;
	text-align: center;
	-webkit-text-shadow: 0 2px 0px #ffffff;
	-moz-text-shadow: 0 2px 0px #ffffff;
	text-shadow: 0 2px 0px #ffffff;
	//color: $heading-color;
  &.alt {
    font-family: $font-stack;
  }
}

h3 {
	font: bold 18px/20px $font-stack-alt;
	margin: 0 0 20px 0;
	//color: $heading-color;
  &.alt {
    font-family: $font-stack;
  }
}

p {
	margin: 0 0 20px 0;
}

ul {
	list-style-type: none;
	margin: 20px 0;
	
	li {
		margin-bottom: 10px;
	}
}

ol {
	margin: 20px 0 20px 20px;
	text-align: left;
	
	li {
		margin-bottom: 10px;
	}
}


/* /////////////////////////////////
	COMMON LINKS
///////////////////////////////// */

a:link,
a:visited {
	color: darken($link-color, 20%);
	text-decoration: none;
	@include transition(all);
	
	&:hover {
		color: $link-color-hover;
		text-decoration: none;
	}
	
	&:active {
		color: $link-color-active;
		text-decoration: none;
	}
}

a.button, button, button.button, .button {
	border: 0;
	cursor: pointer;
	font-family: $font-stack-alt;
	display: inline-block;
	height: 51px;
	line-height: 51px;
	padding: 0 20px;
	background: #5dcfd9;
	color: #fff;//$text-color;
	@include transition(all);
	
	&:hover {
		background: darken(#5dcfd9, 5%);
		color: $invert-color;
		@include transition(all);
	}
	
	&:active {
		background: darken(#5dcfd9, 10%);
		color: $invert-color;
	}

	&:focus {
		outline: none;
		-webkit-appearance: none;
	}
}
