/* /////////////////////////////////
	MIXINS
///////////////////////////////// */

/* font-face */

@mixin font-face($font-family, $file, $weight: normal, $style: normal) {
	@font-face {
		font-family: quote($font-family);
		src: url('../font/#{$file}.eot');
		src: url('../font/#{$file}.eot?#iefix') format('embedded-opentype'),
		     url('../font/#{$file}.woff') format('woff'),
		     url('../font/#{$file}.ttf') format('truetype'),
		     url('../font/#{$file}.svg##{$font-family}') format('svg');
		font-weight: $weight;
		font-style: $style;
	}
}

/* transition on hover and click */

@mixin transition($property, $duration: 0.2s, $timing: ease, $delay: 0s) {
	-webkit-transition: $property $duration $timing $delay;
	-moz-transition: $property $duration $timing $delay;
	-o-transition: $property $duration $timing $delay;
	transition: $property $duration $timing $delay;
}

/* rounded corners */

@mixin border-radius($radius: 2px) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

/* background clip for rgba borders */

@mixin background-clip($method: padding) {
	-moz-background-clip: $method;     
	-webkit-background-clip: $method;
	background-clip: #{$method}-box;
}

/* box shadow */

@mixin box-shadow($h: 1px, $v: 1px, $blur: 6px, $color: rgba(0,0,0,0.2)) {
	-webkit-box-shadow: $h $v $blur $color;
	-moz-box-shadow: $h $v $blur $color;
	-khtml-box-shadow: $h $v $blur $color;
	-ms-box-shadow: $h $v $blur $color;
	box-shadow: $h $v $blur $color;
}

/* inset box shadow */

@mixin inset-box-shadow($h: 1px, $v: 1px, $blur: 6px, $color: rgba(0,0,0,0.2)) {
	-webkit-box-shadow: inset $h $v $blur $color;
	-moz-box-shadow: inset $h $v $blur $color;
	-khtml-box-shadow: inset $h $v $blur $color;
	-ms-box-shadow: inset $h $v $blur $color;
	box-shadow: inset $h $v $blur $color;
}
	
/* opacity */

@mixin opacity($opacity) {
	opacity: $opacity;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$opacity * 100})"; /* IE8 hack */
	filter: alpha(opacity=#{$opacity * 100}); /* IE6-7 hack */
}

/* multiple backgrounds */

@mixin multi-bg-image($color, $img1, $repeat1, $pos1, $img2, $repeat2, $pos2) {
	/* single bg for old browsers */
	background: $color url($img1) $repeat1 $pos1;
	/* multi bg */
	background: url($img1) $repeat1 $pos1, url($img2) $repeat2 $pos2;
	background-color: $color;
}
	
/* gradient background */

@mixin bg-gradient($start, $end, $direction: top) {
	background: -moz-linear-gradient($direction, $start 0%, $end 100%); /* FF3.6+ */
	background: -webkit-linear-gradient($direction, $start 0%, $end 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient($direction, $start 0%, $end 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient($direction, $start 0%, $end 100%); /* IE10+ */
	background: linear-gradient($direction, $start 0%, $end 100%); /* W3C */
}

// CSS Triangles

@mixin cssTriangle($triangleSize, $triangleColor, $triangleDirection) {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border: solid $triangleSize;
	@if ($triangleDirection == top) {
	  border-color: $triangleColor transparent transparent transparent;
	}
	@if ($triangleDirection == bottom) {
	  border-color: transparent transparent $triangleColor transparent;
	}
	@if ($triangleDirection == left) {
	  border-color: transparent transparent transparent $triangleColor;
	}
	@if ($triangleDirection == right) {
	  border-color: transparent $triangleColor transparent transparent;
	}
	// .example { @include cssTriangle(5px, #fff, bottom); }
}

/* animations */

@mixin animation($name, $duration, $ease: ease, $delay: 0s, $direction: normal) {
	-webkit-animation: $name $duration $ease $delay $direction;
	-moz-animation: $name $duration $ease $delay $direction;
	-o-animation: $name $duration $ease $delay $direction;
	-ms-animation: $name $duration $ease $delay $direction;
	animation: $name $duration $ease $delay $direction;
}

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} { @content; }
	@-moz-keyframes #{$name} { @content; }
	@-o-keyframes #{$name} { @content; }
	@-ms-keyframes #{$name} { @content; }
	@keyframes #{$name} { @content; }
}

/* @2x */

@mixin bg-2x($bgcolor, $image, $repeat, $pos, $width: 50%, $height: auto, $filetype: png) {

	background: $bgcolor url('#{$image}.#{$filetype}') $repeat $pos;
	@media (min--moz-device-pixel-ratio: 1.3),
	(-o-min-device-pixel-ratio: 2.6/2),
	(-webkit-min-device-pixel-ratio: 1.3),
	(min-device-pixel-ratio: 1.3),
	(min-resolution: 1.3dppx) {
	
	// on retina, use image that’s scaled by 2
	background-image: url('#{$image}@2x.#{$filetype}');
	background-size: $width $height;
	
	}

}

/* Placeholder texts */
@mixin placeholder($color: #9d9d9d, $weight: normal) {
	&::-webkit-input-placeholder {
	   color: $color;
	   font-weight: $weight;
	}

	&:-moz-placeholder { /* Firefox 18- */
	   color: $color;  
	   font-weight: $weight;
	}

	&::-moz-placeholder {  /* Firefox 19+ */
	   color: $color;  
	   font-weight: $weight;
	}

	&:-ms-input-placeholder {  
	   color: $color;  
	   font-weight: $weight;
	}
}