/* /////////////////////////////////
	HEADER
///////////////////////////////// */

.logo {
	left: 50%;
	margin-left: -39px;
	position: absolute;
	top: -80px;
  @include transition(top, 0.4s, ease);
  .darkHeader & {
    top: 8px;
    @include transition(top, 0.4s, ease);
  }
}

/* /////////////////////////////////
	NAV
///////////////////////////////// */

nav {
  background-color: transparent;//rgba(255,255,255,0.3);
	height: 95px;
	list-style-type: none;
	left: 0;
	margin: 0;
	padding: 0 20px;
	position: fixed;
	right: 0;
	text-align: center;
	z-index: 9000;
  @include transition(background-color, 0.4s, ease);
  .controller {
    opacity: 0;
    @include transition(opacity, 0.4s, ease);
  }
  .darkHeader & {
    @media all and (min-width: 759px) {
      background-color: rgba(255,255,255,0.9);
      @include transition(background-color, 0.4s, ease);
    }
    .controller {
      opacity: 1;
      @include transition(opacity, 0.4s, ease);
    }
  }
	.center {
		padding: 0;
	}

	ul.nav {
		margin: 0;
	}
	
	li {
		display: block;
		float: left;
		margin-bottom: 0;
		margin-right: 27px;
		a {
			color: $text-color-dark;
			display: block;
			float: left;
			font: normal 20px/95px $font-stack;
			letter-spacing: 1.75px;
			text-transform: uppercase;
		  &:visited, &:link {
        color: $text-color-dark;
      }
			&:hover, &.active, &.active:hover {
				color: $link-color;
			}
			&:active {
				color: $link-color;
			}
		}
		&.current a,
		&.current a:hover {
			color: lighten($text-color, 40%);
		}
	}
}