/* /////////////////////////////////
	Responsive Design
///////////////////////////////// */


/* /////////////////////////////////
	Wider - screens over breakpoint
///////////////////////////////// */
@media all and (min-width: 1200px) {

	// styles here

}


/* /////////////////////////////////
	Tablet
///////////////////////////////// */

@media all and (max-width: 999px) {

	// styles here
  .nav li a {
    font-size: 16px;
  }

  .revealOnScroll { 
    visibility: visible;
  }
  
	.section0 {
    .intro-border {
      height: 350px;
      max-width: 350px;
      h3 {
        font: normal 148px/116px $font-stack-alt;
        &.size-2 {
          font: normal 111px/78px  $font-stack-alt;
        }
      }
      $anime-time: 20s;
      $box-size: 350px;
      $clip-distance: .02;
      $clip-size: $box-size * (1 + $clip-distance * 2);
      $path-width: 2px;
      &::before,
      &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: '';
        z-index: -1;
        margin: -1 * $clip-distance * 100%;
        box-shadow: inset 0 0 0 $path-width rgba(255,255,255,0.5);
        animation: clipMe $anime-time linear infinite;
      }
      &::before {
        animation-delay: $anime-time * -.5;
      }
      @keyframes clipMe {
        0%, 100% {clip: rect(0px, $clip-size, $path-width, 0px); }
        25% {clip: rect(0px, $path-width, $clip-size, 0px); }
        50% {clip: rect($clip-size - $path-width, $clip-size, $clip-size, 0px); }
        75% {clip: rect(0px, $clip-size, $clip-size, $clip-size - $path-width); }
      }
    }
  }
  .work ul li .wrapper{
    .overlay {
      .textright {
        display: none;
      }
      .textleft {
        background-color: #ffffff;
        border-top: 5px solid #000;
        color: $text-color;
        font: normal 22px/30px $font-stack-alt;
        display: block;
        padding: 10px;
        text-align: center;
      }
    }
  }
}

/* /////////////////////////////////
	Mobile
///////////////////////////////// */

@media all and (max-width: 759px) {

	// styles here
	.center {
		padding: 40px 0;
	}

  .bio {
    padding: 0;
    p {
      font-size: 22px;
      line-height: 27px;
      padding: 0 20px;
    }
    .full-img {
      margin: 30px 0 0;
      background-attachment: inherit;
      height: 300px;  
    }
  }

  .year {
    width: 40px;
    height: 40px;
    opacity: 1;
    left: 11px;
    top: -102px;
    margin: 50px 0 154px;
    font: 17px/40px Arial, sans-serif;
    transition: none;
    &:before {
      bottom: -63px;
      right: 0;
      border-width: 0 0 63px 181px;
    }
    &:after {
      bottom: -140px;
      right: 24px;
      border-width: 0 0 140px 112px;
    }
  }

	form {
		margin-bottom: 0;
		li.fields fieldset {
			float: none;
			width: 100%;
			&.half {
				width: 100%;
				&:first-child {
					margin-bottom: 20px;
				}
			}
		}
	}

	form ul {
		padding: 30px 0 10px;
	}

	.fullpage {
		display: none;
	}
	
	.controller {
		position: fixed;
		top: 0px;
		left: 0;
		padding: 0 20px;
		z-index: 9000;
		background: #5dcfd9;
		right: 0;
  }

  .nav-holder {
    float: none;
    display: block;
  }

	nav {
		background: transparent;
		height: auto;
		padding: 66px 20px 10px;
		position: static;

    .controller {
      opacity: 1;
    }

    ul li {
      display: inline-block;
      float: none;
      margin: 0 4px;
      &.current a {
        color: $text-color;
        &:active,
        &:hover,
        &.current {
          color: $text-color;
        }
      }
    }

		ul li a {
      color: #fff;
      font-weight: bold;
      font-size: 17px;
			line-height: 17px;
			margin: 20px 0 11px;
      &:hover {
        color: #fff;
      }

		}

    .iconfinder {
      margin: 10px 15px 20px 0;
    }

		.linkedin {
			margin: 10px 0 20px 0;
		}

    .iconfinder,
    .linkedin {
      display: none;
      float: left;
    }
	}

	.large-1, .large-2 {
		width: 100%;
	}

	.logo {
		margin: 10px auto;
		position: static;
	}

	.section, .page-row {
	    padding: 0 23px;
	}
  .sets {
    display: block;

    .collection {
      margin-bottom: 60px;
      width: 100%;
    }
  }

	video.bgvid {
		display: none;
	}

	.work {
    .center {
      padding-top: 40px;
    }
		ul {
			li {
				width: 100%;
			}
		}
	}

  .footer {
    .follow-us {
      display: block;
    }
  }
}

